<!doctype html>
<html><head>
    <meta charset="utf-8">
    <title>Начальник</title>

    {% assets 'admin_css' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% assets 'admin_libs' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    {% block adminscripts %}{% endblock %}
</head>
<body>
{% block content %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">Студия RedCat</a>
                <ul class="nav">
                    <li id="nav-albums"><a href="#albums">Фотографии</a></li>
                    <li id="nav-pages"><a href="#pages">Страницы</a></li>
                    <li id="nav-settings"><a href="#settings">Настройки</a></li>
                </ul>
                <p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="index-container" style="display:none ">
        <div id="albums-index" class="row-fluid">
            <div class="offset2 span10">
                <iframe marginwidth="0"  marginheight="0" width="600" height="350" src="http://www.embeddedanalytics.com/reports/displayreport?reportcode=fhLhjv7jh2&chckcode=ga1eowFl77Qn1L9YM8D7Fa" type="text/html" frameborder="0" scrolling="no" title="EmbeddedAnalytics - Embed Realtime Google Analytics Charts into your Website!"></iframe>
            </div>
            <div class="row">
                <div class="offset2 span5">
                    <div class="panel">
                        <h3>Альбомы</h3>
                        <ul class="albums"></ul>
                    </div>
                </div>
                <div class="span5">
                    <div class="panel">
                        <h3>Страницы</h3>
                        <ul class="pages"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="albums-container" class="container-fluid" style="display:none">
        <div class="sidebar" id="album-list">
            <div class="menu">
                <h3>Альбомы <span class="tool add" data-placement="below" title='Добавить альбом'>+</span></h3>
                <ul class="items"></ul>
            </div>
        </div>
        <div id="photo-list" class="content">
            <div class="hero-unit toolbar">
                <div id="file-uploader"></div>
                <p class="pull-right">
                    <button class="btn primary delete-photos">Удалить фотографии</button>
                    <button class="btn danger delete-album">Удалить альбом</button>
                </p>
                <div style="clear: both;"></div>
            </div>
            <div class="hero-unit">
                <ul class="media-grid items"></ul>
            </div>
        </div>
    </div>
    <div id="pages-container" class="container-fluid" style="display:none;">
        <div class="sidebar">
            <div class="menu">
                <h3>Страницы <span class="tool add" data-placement="below" rel='twipsy' title='Добавить страницу'>+</span></h3>
                <ul class="pages-list"></ul>
            </div>
        </div>
        <div class="content">
            <div class="hero-unit" id="page-editor">
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
