{% extends "admin/base.html" %}

{% block adminscripts %}
{% assets 'admin_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
<script>
    $(function() {
        window.router = new Router()
    });
</script>
{% endblock adminscripts %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav" id="sidebar">
                <!-- sidebar -->
            </div>
        </div>
        <div class="span9" id="main">
            <div class="hero-unit">
                <h1>Привет, Турецкий</h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
