{% extends "admin/base.html" %}

{% block adminscripts %}
<script type="text/javascript">
    $(function() {
        setTimeout(function() {
            $('#username').focus();
        }, 50);
        $('.close').click(function() {
            $(this).parent().hide()
        });
    })
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div id="login-page" class="well">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-error">
            <a class="close">×</a>
            <p><strong>Ошибка!</strong> {{ message }}</p>
        </div>
        {% endfor %}
        <form action="{{ url_for('admin.login') }}" method="POST">
            <label for="username">Имя</label>
            <input type="text" name="username" id="username"
                   tabindex="1" class="input-block-level" placeholder="Username">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password"
                   tabindex="2" class="input-block-level" placeholder="Password">
            <p>
                <button type="submit" class="btn btn-primary btn-large" tabindex="3">Войти</button>
            </p>
        </form>
    </div>
</div>
{% endblock %}
