{% extends "albums_list.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/libs/themes/folio/galleria.folio.css') }}">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% assets 'galleria_js' %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

    <script type="text/javascript">
        $(function() { $('#album_photos').galleria({width: 1000, height: 450}); });
    </script>
{% endblock %}

{% block content %}
<div id="album_photos">
{% for photo in album.photos %}
    <a class="thumbnail_link" href="{{ photo.url }}">
        <img class="photo_thumbnail" src="{{ photo.url }}?size=210">
    </a>
{% endfor %}
</div>
{% endblock %}
