{% extends "base.html" %}

{% block submenu %}
    <ul id="submenu">
    {% for album in albums %}
        <li class="submenuitem"><a href="{{ url_for('gallery.album', slug=album.slug) }}">{{ album.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<ul class='albums unstyled'>
    {% for album in albums %}
        <li>
            <a href="{{ url_for('gallery.album', slug=album.slug) }}">
                <span>{{ album.name }}</span>
                <img src="{{ album.cover }}">
            </a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
