<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{% block title %}Фотостудия Red Cat{% endblock %}</title>
    {% block metas -%}
    <meta name="description" content="фотостудия в киеве аренда фотостудии в киеве фотограф в киеве фотосессия протфолио репортажная съемка свадебное фото свадебный фотограф">
    <meta name="keywords" content="фотостудия киев, аренда фотостудии, фотограф киев, фотосессия, протфолио, Семейная фотосессия, репортажная съемка, свадебное фото, свадебный фотограф">
    {%- endblock %}
    {% assets 'style_css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {%- endassets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32608507-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}">
        </a>
        <div id="menu">
            <ul id="mainmenu">
                {% menu %}<li class="mainmenuitem {% if selected %}selected{% endif %}"><a href="{{ url }}">{{ title }}</a> </li>{% endmenu %}
            </ul>
            {% block submenu %}
                <ul id="submenu">
                    {% submenu %}<li class="submenuitem {% if selected %}selected{% endif %}"><a href="{{ url }}">{{ title }}</a> </li>{% endsubmenu %}
                </ul>
            {% endblock %}
        </div>
        <div id="header-contacts">
            <p>095-737-02-13</p>
            <p>063-291-14-24</p>
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
</body>
</html>
