{% extends "base.html" %}

{% block title %}Фотограф Киев. Услуги фотографа в Киеве, профессиональная фотосъемка{% endblock %}
{% block metas %}<meta name="description" content="Услуги профессионального фотографа в Киеве. Закажите качественные снимки, фотосъемку событий, торжеств или просто фотосессию у нас в студии на Оболони, всегда Вам рады">{% endblock %}


{% block content %}
    <ul id="index-photos" class="unstyled">
    {% for photo in photos %}
        <li><a class="thumbnail_link" href="{{ url_for('gallery.album', slug=photo.album.slug) }}#/{{ photo.order - 1 }}">
            <img class="photo_thumbnail" src="{{ photo.url }}?size=100" alt="">
        </a></li>
    {% endfor %}
    </ul>
{% endblock %}
