{% extends "base.html" %}

{% block content %}
  <div class="hero-unit center">
    <h3>{{ panorama.name }}</h3>
    <div id="panorama-container">
      <p><a href="http://www.adobe.com/go/getflashplayer">
        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
    </div>
    <script src="{{ url_for('static', filename='js/libs/swfobject.js') }}"></script>
    <script type="text/javascript">
      var flashvars = {},
        filename = '{{ filename }}',
        params = {quality: "high", bgcolor: "#ffffff",
          allowscriptaccess: "sameDomain", allowfullscreen: "true",
          base: "."},
        attributes = {id: "pano", name: "pano", align: "middle"};

      swfobject.embedSWF(filename, 'panorama-container','849', '608',
        '9.0.0', 'expressInstall.swf', flashvars, params, attributes)
    </script>
  </div>
{% endblock %}
