{% extends "base.html" %}

{% block content %}
<ul class="panoramas unstyled">
  {% for panorama in panoramas %}
    <li>
      <p class="title">{{ panorama.name }}</p>
      <img src="{{ panorama.preview_image }}">
      <p class="links">Смотреть:
        {% if panorama.mq_file_size -%}
          <a href="{{ panorama.url_for('mq') }}">4000px</a>
{#          <span>({{ panorama.mq_file_size|filesizeformat }})</span>#}
        {%- endif %}
        {% if panorama.hq_file_size -%}
          <a href="{{ panorama.url_for('hq') }}">8000px</a>
{#          <span>({{ panorama.hq_file_size|filesizeformat }})</span>#}
        {%- endif %}
      </p>
    </li>
  {% endfor %}
</ul>
{% endblock %}
