{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
			<div class="span10">
			<h1 class="center">Аренда оборудования</h1>
				<table>
					<tbody>
					<tr>
						<th>Моноблоки</th>
						<td>
							<ul>
								<li>Hyundae Photonics Combi 1000</li>
								<li>Hyundae Photonics Combi 600</li>
								<li>Hyundae Photonics Combi 400 (2 шт)</li>
								<li>Arsenal VC-300</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>Рефлекторы</th>
						<td>
							<ul>
								<li>Рефлектор Arsenal ARS стандартный&nbsp;(2 шт)</li>
								<li>Набор Arsenal BD-200 (шторки, соты, 4 цветных фильтра)</li>
								<li>Портретная тарелка Beauty Dish 41 см.</li>
								<li>Портретная тарелка Arsenal 56 см.</li>
								<li>Рефлектор Hyundae Snoot Honey 70 мм. (конус с сотами)</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>Софтбоксы</th>
						<td>
							<ul>
								<li>Октогон ACE Hyundae Photonics PSOR 200 см</li>
								<li>Софтбокс 60х90 см. (2шт)</li>
								<li>Софтбокс 80х120 см.</li>
								<li>Софтбокс 35х140 см.</li>
								<li>Студийный зонт на отражение (2 шт.)</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>Фоны бумажные 2.7х11м</th>
						<td>
							<ul>
								<li>Нейтрально серый</li>
								<li>Черный</li>
								<li>Белый</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>Фоны тканевые</th>
						<td>
							<ul><li>Черный бархатный 2штх1.35х5м</li></ul>
						</td>
					</tr>
					<tr>
						<th>Синхронизация</th>
						<td>
							<ul>
								<li>Радиосинхронизатор</li>
								<li>Синхрошнуры - 5м (4шт)</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>Прочее</th>
						<td>
							<ul>
								<li>Студийная стойка Arsenal - 3 шт.</li>
								<li>Студийная стойка Weifeng - 2 шт.</li>
								<li>Журавль - 1 шт.</li>
								<li>Держатель для отражателя - 1 шт.</li>
								<li>Штатив Slic - 1 шт.</li>
								<li>Отражатель - 2 шт.</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span6 highlight">
			<h1 class="center">Аренда Фотостудии</h1>
			<table cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<th>Дни</th>
					<th>Часы</th>
					<th>Стоимость</th>
				</tr>
				<tr>
					<td>Будние</td>
					<td>09:00 &mdash; 20:00</td>
					<td>100 грн/час</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>20:00 &mdash; 24:00</td>
					<td>120 грн/час</td>
				</tr>
				<tr>
					<td>Выходные</td>
					<td>09:00 &mdash; 18:00</td>
					<td>100 грн/час</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>18:00 &mdash; 24:00</td>
					<td>120 грн/час</td>
				</tr>
				<tr>
					<td>Фотоночь</td>
					<td>20:00 &mdash; 08:00</td>
					<td>700 грн</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset4">
			{#<img src="http://cs11265.vkontakte.ru/u5958409/126143565/x_95b653ac.jpg" alt="Съемочный павильон ">#}
		</div>
	</div>
</div>
{% endblock %}
