{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="span8">
			<h3>Студийная фотосессия</h3>
			<table>
				<tbody>
					<tr>
						<th>&nbsp;</th>
						<th>Цена в грн</th>
						<th></th>
					</tr>
					<tr>
						<td><strong>Мини портфолио.</strong> Часовая съемка одного-двух образов, до 50 фото на диске, 5 отретушированных и напечатанных фотографий.</td>
						<td>499</td>
					</tr>
					<tr>
						<td><strong>Портфолио. </strong>Двухчасовая съемка до трех образов, до 100&nbsp; фото на диске, 10 отретушированных и напечатанных фотографий.</td>
						<td>999</td>
					</tr>
					<tr>
						<td><strong>Расширенное портфолио. </strong>Трехчасовая съемка трех-четырех образов, до 200 фото на диске, 25 отретушированных и напечатанных фотографий.</td>
						<td>1599</td>
					</tr>
					<tr>
						<td><strong>Детская </strong>полуторачасовая съемка, до 75 фото на фото на диске, 10 отретушированных и напечатанных фотографий.</td>
						<td>499</td>
					</tr>
					<tr>
						<td><strong>Семейная </strong>часовая съемка до 50&nbsp; фото на диске, 10 отретушированных и напечатанных фотографий.</td>
						<td>999</td>
					</tr>
					<tr>
						<td><strong>Рекламная фотосъемка </strong></td>
						<td>договорная</td>
					</tr>
					<tr>
						<td><strong>Предметная съемка</strong> без обработки</td>
						<td>от 30 /фото</td>
					</tr>
					<tr>
						<td><strong>Предметная съемка</strong> с обработкой</td>
						<td>от 50 /фото</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span8">
			<h3>Выездная фотосъёмка</h3>
			<table>
				<tbody>
					<tr><th></th><th>Цена&nbsp;в&nbsp;грн.</th></tr>
					<tr>
						<td><strong>Love story</strong> на 1 час. до 50 фото на диске, 5 отретушированных и напечатанных фотографий.</td>
						<td>299</td>
					</tr>
					<tr>
						<td><strong>Репортажная съемка</strong></td>
						<td>от 100 /час</td>
					</tr>
				</tbody>
			</table>
			<h3>Свадебная съёмка</h3>
			<table>
				<tbody>
					<tr><th></th><th>Цена&nbsp;в&nbsp;грн.</th></tr>
					<tr>
						<td>Постановочная и репортажная съемка до первого танца, до 500 обработанных фото на диске, 50 отретушированных с художественной обработкой</td>
						<td>от 3500</td>
					</tr>
					<tr>
						<td>Сюжетная постановочная съемка свадьбы с написанием сценария, до 500 обработанных фото на диске, 50 отретушированных с художественной обработкой</td>
						<td>от 4500</td>
					</tr>
					<tr>
						<td>Съемка после первого танца</td>
						<td>от 1000</td>
					</tr>
				</tbody>
			</table>
			<h3>Изготовление фотокниг</h3>
			<table>
				<tbody>
					<tr>
						<td>Формат фотокниги 30х30 см.
							<ul>
								<li>Матовая бумага</li>
								<li>Шелковая бумага</li>
								<li>Обложка с фотографий</li>
								<li>Обложка с кожзаменителя</li>
					 		</ul>
						</td>
						<td>цена&nbsp;за&nbsp;разворот
							<ul>
								<li>72</li>
								<li>84</li>
								<li>480</li>
								<li>768</li>
							</ul>
						</td>
					<tr>
						<td>Выездная фотосессия с использованием студийного оборудования</td>
						<td>+30% к стоимости</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
