{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="offset2 span5">
			<h1>&nbsp;</h1>
			<p>Фотостудия – предлагает широкий спектр услуг по фотосъёмке как в студии, так и на выезде. Удобное расположение, набор профессионального осветительного и съёмочного оборудования.</p>
			<h1>&nbsp;</h1>
			<p><img src="{{ url_for('.static', filename='uploads/studio2.jpg') }}"></p>
		</div>
		<div class=" offset1 span6">
			<p><img src="{{ url_for('.static', filename='uploads/studio1.jpg') }}"></p>
			<h1>&nbsp;</h1>
			<p>Площадь <strong>60 м<sup>2</sup></strong>, потолков 3 м. В распоряжение фотографу предлагается набор современного студийного фотосвета фирмы <strong>Hyundae Photonics</strong>, набор разнообразных фонов и аксессуаров.</p>
		</div>
	</div>
	<div class="row">
		<div class="offset5 span6">
			<p><img src="{{ url_for('.static', filename='uploads/studio3.jpg') }}"></p>
		</div>
		<div class="span5">
		</div>
	</div>
</div>
{% endblock %}
