@import "bootstrap/bootstrap.less";
@import "less/font-awesome.less";

#login-page {
  width: 300px;
  margin: 0 auto;
  label {
    font-size: 16px;
    padding-bottom: 3px;
  }
  input {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
  .alert p strong {
    display: block;
  }
}

.sidebar-nav {
  padding: 9px 0;

  .nav-header {
    position: relative;

    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-transform: uppercase;

    display: block;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin-bottom: 0;
  }

  [class^=icon-] {
    position: absolute;
    margin: 5px 10px;
    top: 0;
    right: 0;
    opacity: .5;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }
  }

  li {
    position: relative;

    a {
      cursor: default;
    }

    [class^=icon-] {
      display: none;
      margin-right: 0;
      top: 0;
      right: -3px;
    }

    &:hover [class^=icon-] {
      display: block;
    }

    li {
      list-style: none;

      &:before {
        content: " ";
        position: absolute;
        left: -16px;
        top: 0px;
        display: block;
        .square(14px);
        line-height: 14px;
        vertical-align: text-top;
        background-image: url(@iconSpritePath);
        background-position: -456px -72px;
        background-repeat: no-repeat;
        .opacity(50);
      }
    }

  }
}

body {
  padding-top: 40px;
  background: black url(/static/images/admin_background.jpg);
  min-height: 100%;
}

.hero-unit {
  padding: 15px;
}

.alert-message {
  margin-top: 10px;
}

.form-dialog {
  width: 410px;
  margin-left: -170px;
}

.input-prepend {
  .span5 {
    width: auto;
  }
}

.thumbnail {
  position: relative;

  [class^=icon-] {
    position: absolute;
    top: -7px;
    right: -7px;
    cursor: pointer;
    display: none;

    background-color: white;
    border: 2px solid #999;
    border-radius: 9px;

    &:hover {
      border-color: @linkColorHover;
    }
  }
}

.deleteMode {
  [class^=icon-] {
    display: block;
  }
}

#main {
  position: relative;
}

.page-title {
  float: left;
  padding-right: 50px;
  margin: 0;

  .label {
    position: relative;
    top: -3px;
  }
}

.actions {
  .clearfix();
  text-align: right;
}

.CodeMirror-scroll {
  background-color: white;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @transition: border linear .2s, box-shadow linear .2s;
  .transition(@transition);
}

.CodeMirror-focused .CodeMirror-scroll {
  border-color: rgba(82, 168, 236, .8);
  .box-shadow(0 0 1px rgba(82,168,236,.6));
  outline: 0;
  outline: thin dotted  \9; /* IE6-8 */
}

.modal-body {
  max-height: 370px;
  overflow: scroll;
}

.panorama-form {
  .control-group .display {
    width: 440px;
    max-height: 60px;
    overflow: hidden;
    float: left;

    &:hover {
      cursor: pointer;
    }

    &.expanded {
      max-height: none;
    }
  }

  .icon {
//    font-size: 2em;
  }

  .icon-check {
    color: green;
  }

  .icon-remove {
    color: red;
  }

}

.fileinput {
  width: 0 !important;
  heigth: 0 !important;
  overflow: hidden;
}

.dropzone {
  height: 50px;
  border: 5px dashed #aaa;
  border-radius: 5px;

  text-align: center;
  line-height: 50px;
  color: #aaa;
  margin: .5em 0 1em;
}
