@import "bootstrap/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "bootstrap/mixins.less";

// CSS Reset
@import "bootstrap/reset.less";

// Grid system and page structure
@import "bootstrap/scaffolding.less";
// @import "bootstrap/grid.less";
// @import "bootstrap/layouts.less";

// Base CSS
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/forms.less";
@import "bootstrap/tables.less";

// Components: common
//@import "bootstrap/sprites.less";
//@import "bootstrap/dropdowns.less";
//@import "bootstrap/wells.less";
//@import "bootstrap/component-animations.less";
//@import "bootstrap/close.less";

// Components: Buttons & Alerts
//@import "bootstrap/buttons.less";
//@import "bootstrap/button-groups.less";
//@import "bootstrap/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
// @import "bootstrap/navs.less";
//@import "bootstrap/navbar.less";
//@import "bootstrap/breadcrumbs.less";
//@import "bootstrap/pagination.less";
//@import "bootstrap/pager.less";

// Utility classes
@import "bootstrap/utilities.less"; // Has to be last to override when necessary

#wrapper {
  width: 940px;
  margin: 0 auto 40px;
}

#index-photos li {
  float: left;
  img {
    box-shadow: 1px 1px 3px #333;
  }
}

a.thumbnail_link {
    text-decoration: none;
}

img.photo_thumbnail {
    margin: 8px;
    box-shadow: 0 0 2px #333;
    height: 100px;
    width: 100px;
}

.map a {
    color: black;
    font-size: 12px;
}

#header {
    position: relative;
    padding: 2px 0 20px;
}

#menu {
  position: absolute;
  top: 60px;
  left: 190px;
  ul {
    margin: 0;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px #ccc;
    padding-left: 15px;
  }
  .selected a,
  a:hover {
    -webkit-transform: scale(1.2);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -ms-transform: scale(1.2);
    -ms-transform-origin: 50% 75%;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-out;
    -moz-transform: scale(1.2);
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-out;
    color: rgb(220, 0, 0);
    text-decoration: none;
  }
}

.mainmenuitem,
.submenuitem {
    display: inline;
}

.mainmenuitem a {
    font-size: 1.3em;
    line-height: 18px;
}

#submenu {
    padding-top: 10px;
}

.submenuitem a {
    color: #333;
    line-height: 18px;
    font-size: 12px;
}

#header-contacts {
  position: absolute;
  top: 30px;
  right: 20px;
  p {
    margin: 0;
    text-align: right;
    line-height: 16px;
    color: #666;
  }
}

.albums {
  li {
    float: left;
    margin: 15px;
    position: relative;
    height: 205px;
    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      background: rgba(0, 0, 0, .5);
      padding: 5px 10px;
      color: #eee;
      font-size: 18px;
      font-weight: normal;
      text-shadow: 0 0 2px #333;
    }
    img {
      z-index: 90;
      box-shadow: 1px 1px 2px #333;
    }
  }
  a {
    text-decoration: none;
  }
}

#album_photos {
  position: relative;
  top: -20px;
  left: -30px;
  .galleria-container {
    background-color: transparent;
  }

  .fullscreen {
    background-color: black;
  }
}

.highlight {
    border-radius: 5px;
    background-color: #eeeeee;
}

.center {
    text-align: center;
}

p.message {
    text-align: center;
    color: #999;
}

.content img {
  &.left {
    float: left;
    padding-right: 15px;
  }
  &.right {
    float: right;
    padding-right: 15px;
  }
}

.panoramas {
  li {
    position: relative;
    float: left;
    margin: 15px;

    .title {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 10px;
      font-size: 18px;
      color: #eee;
      background: rgba(0, 0, 0, .5);
    }

  }
  .links {
    position: absolute;
    right: 0;

    span {
      color: #666;
    }
  }
}
