{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block metas %}
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
{% endblock %}


{% block content %}
<div class="content">
    {{ page.content|safe }}
</div>
{% endblock %}
