{% extends "pages/basic.html" %}

{% block content %}
<div class="row">
    {% for msg in get_flashed_messages() %}
        <div class="offset4 span5 alert-message"><p>{{ msg }}</p></div>
    {% endfor %}
</div>
<div class="row">
    <div class="span6">
        {{ page.content|safe }}
        <p><strong>Или ещё вот форма:</strong></p>
        <form class="form-stacked" method="POST" action=".">
            <fieldset>
                <div class="clearfix">
                    <label for="name">Ваше имя</label>
                    <input id="name" class="name span5" name="name" type="text">
                </div>
                <div class="clearfix">
                    <label for="email">e-mail</label>
                    <input id="email" class="email span5" name="email" type="text">
                </div>
                <div class="clearfix">
                    <label for="message">Сообщение</label>
                    <textarea class="span5" name="message" id="message"></textarea>
                </div>
            </fieldset>
            <div class="actions">
                <input type="submit" value="отправить" class="btn">
            </div>
        </form>
    </div>
    <div class="span10">
        <div class="map">
            <iframe width="570" height="460" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ru/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=15+%D0%9C%D0%B5%D0%B6%D0%B5%D0%B2%D0%B0%D1%8F+%D1%83%D0%BB%D0%B8%D1%86%D0%B0,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;aq=t&amp;sll=55.354135,40.297852&amp;sspn=35.135936,63.896484&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9C%D0%B5%D0%B6%D0%B5%D0%B2%D0%B0%D1%8F+%D1%83%D0%BB.,+15,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;ll=50.515701,30.436993&amp;spn=0.009456,0.0156&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.ru/maps?f=q&amp;source=embed&amp;hl=ru&amp;geocode=&amp;q=15+%D0%9C%D0%B5%D0%B6%D0%B5%D0%B2%D0%B0%D1%8F+%D1%83%D0%BB%D0%B8%D1%86%D0%B0,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;aq=t&amp;sll=55.354135,40.297852&amp;sspn=35.135936,63.896484&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%9C%D0%B5%D0%B6%D0%B5%D0%B2%D0%B0%D1%8F+%D1%83%D0%BB.,+15,+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%B3%D0%BE%D1%80%D0%BE%D0%B4+%D0%9A%D0%B8%D0%B5%D0%B2,+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B0&amp;ll=50.511701,30.435991&amp;spn=0.009456,0.0156&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>
        </div>
    </div>
</div>
{% endblock %}
